*{
	margin: 0px;
	padding: 0px;
}
header{
	background-color: lightgray;
	width :100%;
	height: 100px;
	display: flex;
	justify-content: center;
}
#playerName{
	height: 30px;
	width: 190px;
	margin-top: 30px;
	padding-left: 5px;

	border: 1px solid gray;
	border-radius: 10px;

}
#playerName:hover{
	transition: .5s ;
	border-radius: 15px;
	background-color: ;
}
#playButton{
	height: 34px;
	width: 70px;
	margin-top: 30px;
	margin-left: 2px;
	
	background-color: #fff;
	color:#000;

	border: 1px solid gray;
	border-radius: 10px;
	cursor: pointer;
}
#playButton:hover{
	transition: .5s ;
	border-radius: 15px;
	background-color: #aaa;
	color:#fff;
}
/*	main content only the game area  */
main{
	width: 100%;
	height: 510px;
	margin: 0px auto;

	display: flex;
	justify-content: center;
}
.side{
	/*уменшяем от 100%ого поля поля игры и делим на два для два сайдбара*/
	width: calc((100% - 660px) / 2);
	height: 100%;

	background-color: black;
	color:#fff;
	
}
.gameValues{
	display: flex;
	justify-content: center;
	
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 5px;

	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid lightgray;
	font-size: 18px;
}
.gameValues span {
	font-weight: normal;
	font-size: 15px;
	color:lightgreen;
}
#playArea{
	position: relative;
	
	display: flex;
	justify-content: center;

	width: 660px;
	height: 100%;
	
	background-color: black;
	background-image: url("../img/playAreaBackground.png") ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#playArea canvas{
	margin-top: 40px;
	width: 600px;
	height: 430px;
	background-color: gray;
	opacity: .8 ;
}
#playersResult{
	width: 95%;
	height: calc(100%  - 50px);

	margin: 0px auto;
	margin-top: 5px;
	
	display: flex;
	flex-direction: column;
	
	overflow-y: scroll;
}
.basic{
	width: 100%;
	height: 50px;

	color: white;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid white;
}
.basic h3{
	font-weight: bold;
	font-size: 18px;

	margin-top: 10px;
}
.playersInfo{
	width: 100%;
	height: 50px;
	background-color: black;
	color :lightblue;
	border-bottom: 1px dashed white;
	display: flex;
	justify-content: space-around;
}
.playersInfo h4{
	font-size: 15px;
	
	margin-top: 10px;
}